@charset "UTF-8";

@import "./variable";

/**
* light: 光明 白天 !default
* dark：暗黑
* dusk: 薄暮
* volcano: 火山
* aurora: 极光
* geek: 极客
*/
$themes: (
  light: (),
  dark: (),
  dusk: (),
  volcano: (),
  aurora: (),
  geek: (),
);
