@charset "UTF-8";

/* 定义屏幕大小 */
$breakpoints: (
  "mb": "only screen and (max-width: 576px)",
  "xs": "only screen and (min-width: 480px)",
  "sm": "only screen and (min-width: 768px)",
  "md": "only screen and (min-width: 992px)",
  "lg": "only screen and (min-width: 1200px)",
  "pc": "only screen and (min-width: 1440px)",
  "pc-m": "only screen and (min-width: 1650px)",
  "pc-l": "only screen and (min-width: 1920px)",
) !default;

/* 媒体查询 */
@mixin respond-to($breakpoint) {
  $query: map-get($breakpoints, $breakpoint);

  // 如果超出设定范围则提示错误
  @if not $query {
    @error "No value found for '#{$breakpoint}'. Please make sure it is defined in '$breakpoints' map.";
  }

  // 断点，校验$query的合法性
  @media #{if(type-of($query) == 'string', unquote($query), inspect($query))} {
    @content;
  }
}

/* 添加浏览器前缀 */
@mixin css3($property, $value) {
  @each $prefix in -webkit-, -moz-, -o-, "" {
    #{$prefix}#{$property}: $value;
  }
}

/* 文字强制换行 */
%word-break {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}

/* 单行文字截断 */
%text-truncate {
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* 多行文字截断 */
@mixin line-truncate($linenum: null) {
  display: -webkit-box;
  -webkit-line-clamp: $linenum;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* 文字隐藏 */
%text-hide {
  text-indent: -999rem;
}

/* 字母大写 */
%text-capital {
  text-transform: uppercase;
}

/* clear float 清除浮动 */
%clear {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

/* 弹性盒属性 */
%flexbox {
  @include css3(display, flex);
  @include css3(flex-flow, row);
  @include css3(flex-wrap, wrap);
  @include css3(box-pack, justify);
}

%hide {
  visibility: hidden;
  opacity: 0;
}

%show {
  visibility: visible;
  opacity: 1;
}

/* animation basic settings 动画基本设置 */
%animationBase {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* transition 设置运动变形方式及时长 */
@mixin transition($content: null) {
  @include css3(transition, $content);
}

/* animation 设置动画方式及时长 */
@mixin animation($content: null) {
  @include css3(animation, $content);
}
