@charset "UTF-8";

@import "./variable";
@import "./mixin";

nav {
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 1000;
  background: white;
  box-shadow: 0 0 5px rgb(0 0 0 / 8%);

  .container {
    display: flex;
    justify-content: space-between;
  }

  .nav {
    display: flex;
    width: 65%;
    margin: 0 auto;
    padding: 10px 0;
    justify-content: start;
    font-size: 1rem;

    li {
      min-width: 50px;
      max-width: 120px;
      padding: 10px 20px;
      list-style-type: none;
      cursor: pointer;
    }

    span {
      font-size: 0.8rem;
      opacity: 0.7;
    }
  }

  .logo {
    width: 80px;
    height: 30px;
    margin: 20px 0 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  .search {
    margin: 12px 0 0;

    .n-input {
      width: 180px;
    }
  }
}

.header {
  padding: 60px 0 0;
}

.main {
  margin: 30px auto 0;

  .container {
    background: white;
    padding: 40px 50px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgb(10 10 10 / 5%);
    overflow-x: hidden;
  }
}

.blog {
  h1 {
    text-align: center;
    padding: 15px 0 !important;
  }
}
